@model IPagedList

<nav>
    <ul class="pagination justify-content-center">
        @*pagination do bootstrap + alinhamento ao centro*@
        @{
            for (var i = 1; i < Model.TotalPages + 1; i++) /*Total page +1 não é <= */
            {
                if (i == Model.PageIndex)/*para a pagina atual, a opção fica preenchida*/
                {
                    <li class="page-item active">
                        <a class="page-link" asp-action="@Model.ReferenceAction" asp-route-page="@i" asp-route-ps="@Model.PageSize" asp-route-q="@Model.Query">@i <span class="sr-only">(current)</span></a>
                    </li>
                }
                else
                {

                    <li class="page-item">
                        @*numeros*@
                        <a class="page-link" asp-action="@Model.ReferenceAction" asp-route-ps="@Model.PageSize" asp-route-page="@i" asp-route-q="@Model.Query">@i</a>
                        @*page-link, apontando para nossa action Index*@
                    </li>
                }
            }
        }
    </ul>
</nav>